<div class="toolbar"></div>
<section class="menu-coffee">
 
  <div class="container" *ngFor="let coff of coffee">

    <div class="gallery">
      <div class="gallery-main">
        <img class="gallery-main_img" src="{{coff.img1}}" alt="">
      </div>

      <div class="gallery-list">
        <div class="gallery-list_item"> <img class="gallery-list_item-img" src="{{coff.img1}}" alt=""></div>
        <div class="gallery-list_item"> <img class="gallery-list_item-img" src="{{coff.img2}}" alt=""></div>
        <div class="gallery-list_item"> <img class="gallery-list_item-img" src="{{coff.img3}}" alt=""></div>



      </div>
    </div>
    <div class="text">
      <h3>{{coff.title}}</h3>
      <h4>{{coff.price | currency}}</h4>
      <p>{{coff.article}}</p>
      <a href="">back to menu</a>
    </div>

  </div>
</section>