<section class="sidenav">
  <div class="side-content" >


    <i (click)="close()" class="fa-regular fa-circle-xmark"></i>
    <ul class="side_links">

      <li routerLinkActive="active" routerLink="" fragment="about">about</li>
      <li routerLinkActive="active" routerLink="" fragment="services">services</li>
      <li routerLinkActive="active" routerLink="" fragment="menu">menu</li>
      <li routerLinkActive="active" routerLink="" fragment="blog">blog</li>
      <li routerLinkActive="active" routerLink="" fragment="opinions">opinions</li>

    </ul>
    </div>
</section>
