.nav{

    display: flex;
    align-items: center;
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: transparent;
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;

   &.scrolled{
        background-color: #101311;
        transition: all 1s ease-in-out;
    }

    &_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 95%;
        width: 100%;
        margin: 0 auto;
        padding: 0 0.5em;
        padding: 1rem;
    }
  
    &_logo{
        font-family: 'DM Serif Text', serif;
        font-family: 'Asul', serif;
       
        color: black;
        text-decoration: none;
        font-weight: 800;
        font-size: calc(1rem + 1vw);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 0.5rem;


        span{
            font-weight: 800;
            font-size: calc(1rem + 2vw);
            color:white;
        }
    
        
    }
    &_links{
        display: flex;
        flex-direction: row;
        gap: 3vw;
        font-family: 'DM Serif Text', serif;
        font-family: 'Asul', serif;
        text-transform: uppercase;
        list-style: none;
        font-size: calc(0.5rem + 0.3vw);
        letter-spacing: 0.2rem;
        font-weight: 500;
        justify-content: space-evenly;
        cursor: pointer;
      
     
        li:hover{
            color: #bd9c79;
            transition: all 0.3s ease-in-out;
            
        }
    }

    &_icons{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-weight: 800;
        font-size: calc(1rem + 2vw);
       
        justify-content: space-evenly; 
    }
    #shop_icon:hover{
        color: #bd9c79;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        
    }
    #search_icon:hover{
        color: #bd9c79;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        
    }
}