<nav class="nav" (scroll)="onWindowScroll()">
  
  <div class="nav_container">
  <a href="" class="nav_logo">
    <i>Coffee Factory</i>


    <i class="fa-solid fa-mug-hot"></i>
  </a>

  <ul class="nav_links">
    <li routerLinkActive="active">home</li>
    <li routerLinkActive="active">about</li>
    <li routerLinkActive="active">services</li>
    <li routerLinkActive="active">menu</li>
    <li routerLinkActive="active">blog</li>

  </ul>
  <div class="nav_icons">
    <span id="search_icon" class="material-symbols-outlined">
      search
      </span>
      <span id="shop_icon" class="material-symbols-outlined">
        shopping_cart
        </span>
  </div>
</div>
</nav>