<nav class="nav" (scroll)="onWindowScroll()">
  
  <div class="nav_container">
  <a href="" class="nav_logo">
    <i>Coffee Factory</i>

    <!-- <i class="fa-regular fa-mug-hot"></i> -->
    <img src="/assets/home/toolbar/cup.png" alt="">
  </a>

  <ul class="nav_links">
    <li routerLinkActive="active">home</li>
    <li routerLinkActive="active">about</li>
    <li routerLinkActive="active">services</li>
    <li routerLinkActive="active">menu</li>
    <li routerLinkActive="active">blog</li>

  </ul>
  <div class="nav_icons">
    <span id="search_icon" class="material-symbols-outlined">
      search
      </span>
      <span      matBadge="{{basket.length}}" matBadgePosition="before" matBadgeColor="accent"  id="shop_icon" class="material-symbols-outlined">
        shopping_cart
        
        </span>
  </div>
</div>
</nav>