.nav {

    display: flex;
    align-items: center;
    position: fixed;
    height: 8vh;
    width: 100%;
    background-color: transparent;
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;


    &.scrolled {
        background-color: #101311;
        transition: all 1s ease-in-out;
    }

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 95%;
        width: 100%;
        margin: 0 auto;
        padding: 0 0.5em;
        padding: 1rem;
    }

    &_logo {
        font-family: 'DM Serif Text', serif;
        font-family: 'Asul', serif;


        text-decoration: none;
        font-weight: 800;
        font-size: calc(1rem + 1vw);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        gap: 0.5rem;


        span {
            font-weight: 800;
            font-size: calc(1rem + 2vw);
            color: white;
        }


    }

    &_links {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        font-family: 'DM Serif Text', serif;
        font-family: 'Asul', serif;
        text-transform: uppercase;
        list-style: none;
        font-size: calc(0.5rem + 0.3vw);
        letter-spacing: 0.2rem;
        font-weight: 500;
        justify-content: space-evenly;
        cursor: pointer;


        li:hover {
            color: #bd9c79;
            transition: all 0.3s ease-in-out;

        }
    }

    &_icons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-weight: 800;
        font-size: calc(1rem + 2vw);

        justify-content: space-evenly;
    }

    #shop_icon:hover {
        color: #bd9c79;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

    }

    #search_icon:hover {
        color: #bd9c79;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

    }
}

.basket{
    font-family: 'Asul', serif;
    transition:all 1s ease-in-out;
    opacity: 0;
    z-index: -99;
    transition: transform 1s ease-in-out;
    margin-top: 57.21px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #0000005d;
    overflow-y:scroll;
    &.active{
        opacity: 1;
        z-index: 0;
    }
    &-content{
        opacity: 1;
        height: 100%;
        width: 40vw;
        background-color: white;
     
       position: fixed;
       right: 0;
       transform: translateX(100%);
       transition: all 1s ease-in-out;
       &.active{
        transform: translateX(0);
        i{
            position: absolute;
            right: 0;
            padding: 3vh 3vw;
            font-size: 1.5rem;
            cursor: pointer;
        }
       }
       .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vh 2vw;
        gap: 1vw;
        &-card{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            img{
                height: 100px;
                width: 100px;
                object-fit: cover;
            }
        }
        mat-divider{
            width: 100%;
        }
       }
    }


}

