.nav {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: transparent;
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;

    .hamburger {
        cursor: pointer;

    }

    &.scrolled {
        background-color: #101311;
        transition: all 0.5s ease-in-out;
    }

    &_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        max-width: 95%;
        width: 100%;
        margin: 0 auto;
        padding: 0 0.5em;
        padding: 1rem;
    }

    &_logo {
        font-family: 'DM Serif Text', serif;
        font-family: 'Asul', serif;


        text-decoration: none;
        font-weight: 800;
        font-size: calc(1rem + 1vw);
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        color: white;
        gap: 0.5rem;
        padding-right: 10rem;


        span {
            font-weight: 800;
            font-size: calc(1rem + 2vw);
            color: white;
        }


    }

    &_links {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        font-family: 'DM Serif Text', serif;
        font-family: 'Asul', serif;
        text-transform: uppercase;
        list-style: none;
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
        font-weight: 500;
        justify-content: space-evenly;
        cursor: pointer;
        justify-self: center;


        li:hover {
            color: #bd9c79;
            transition: all 0.3s ease-in-out;

        }
    }

    &_icons {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        font-weight: 800;
        font-size: calc(1rem + 2vw);

        justify-content: space-evenly;
    }

    #shop_icon:hover {
        color: #bd9c79;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

    }

    #search_icon:hover {
        color: #bd9c79;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

    }
}

.basket {
    font-family: 'Asul', serif;
    transition: all 1s ease-in-out;
    opacity: 0;
    z-index: -99;
    transition: transform 1s ease-in-out;
    margin-top: 57.21px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #0000005d;
    overflow-y: scroll;

    &.active {
        opacity: 1;
        z-index: 0;
    }

    &-content {
        opacity: 1;
        height: 100%;
        width: 50vw;
        background-color: white;

        position: fixed;
        right: 0;
        transform: translateX(100%);
        transition: all 1s ease-in-out;

        &.active {
            transform: translateX(0);

            i {
                position: absolute;
                right: 0;
                padding: 3vh 3vw;
                font-size: 1.5rem;
                cursor: pointer;
            }

            h2 {
                text-transform: uppercase;
                padding: 3vh 3vw;
            }
        }

        .products {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2vh 2vw;
            gap: 2vw;

            &-card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 0.7rem;
                font-size: 1rem;
                padding: 1rem 1rem;
                border-bottom: 1px solid black;


                img {
                    height: 2rem;
                    width: 2rem;
                    object-fit: cover;
                }

                .content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 3vw;


                    &-1 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }

                    button {
                        width: 1.5rem;
                        height: 1.5rem;
                        border: none;
                        background: none;
                        border: 2px solid black;
                        border-radius: 50%;
                        cursor: pointer;
                    }


                    &-2 {
                        display: flex;
                        gap: 1rem;
                    }
                }
            }




        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 2rem 2rem;

            span {
                height: 3rem;
                width: 8rem;
                background-color: #91785d;
                border-radius: 2px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            button {
                background: none;
                border: none;
                height: 3rem;
                width: 8rem;
                background-color: #bd9c79;
                color: white;
                border-radius: 2px;
                cursor: pointer;
                transition: all 1s ease-in-out;
            }

            button:hover {
                background-color: #e0bb93;
                transition: all 0.3s ease-in-out;

            }
        }
    }


}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .form-fields {
        padding: 5vh 5vw
    }

    mat-form-field {
        width: 27rem;
    }

    .card-numbers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 27rem;

        mat-form-field {
            width: 30%;
        }
    }

    .submit {
        border: none;
        background: none;
        width: 50%;
        height: 2rem;
        background-color: #3d893d;
        color: white;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'Asul', serif;
        cursor: pointer;
        transition: all 1s ease-in-out;





    }

    .submit:hover {
        background-color: #449844;
    }
}

@media screen and (max-width: 780px) {
    .nav_content {
        display: none;

    }

    .nav_container {
        justify-content: space-between;
    }

    .basket-content {
        width: 100%;
    }


}

@media screen and (min-width: 780px) {


    .hamburger {
        display: none;
    }

}