<section class="menu-edit">
  <h3>Edit product</h3>
  <div class="menu-edit_form">
    <form [formGroup]="menuEditForm" class="p-3" action="">
    

      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>name</mat-label>
          <input formControlName="title" type="text" matInput>
        </mat-form-field>
      </div>
      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>image</mat-label>
          <input formControlName="img1" type="text" matInput>
        </mat-form-field>
      </div>
      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>image 2</mat-label>
          <input formControlName="img2" type="text" matInput>
        </mat-form-field>
      </div>
      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>image 3</mat-label>
          <input formControlName="img3" type="text" matInput>
        </mat-form-field>
      </div>
      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>price</mat-label>
          <input formControlName="price" type="number" matInput>
        </mat-form-field>
      </div>
      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>label</mat-label>
          <input formControlName="label" type="text" matInput>
        </mat-form-field>
      </div>
      <div class="m-2">
        <mat-form-field appearance="fill">
          <mat-label>article</mat-label>
          <input formControlName="article" type="text" matInput>
        </mat-form-field>
      </div>
  
  
  
      <button (click)="editArticle(data.id, menuEditForm.value)" class="add" type="submit">ADD+</button>
    </form>
  </div>
</section>