.menu-edit{
    padding: 6vh 6vw;
    height: max-content;
    width: 80vw;
    background-image: url("/assets/dialog/dialog-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Asul', serif;
h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}
    &_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        padding: 4vh 4vw;
    }
}