.services{
    background-color: #f2efe6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3vh;
    padding: 7vh 7vw;
 
    &-title{
        font-family: 'DM Serif Text', serif;
        font-family: 'Asul', serif;
        font-size: calc(1.5rem + 2vw);
        text-align: center;
        margin-top: 7vh;
        
    }

    &-content{
        display: grid;
        padding: 6vh 9vw;
width: 80vw;
align-self: center;
        grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
        column-gap:1rem ;
        row-gap:4rem ;
        align-items: center;
      

      
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:3vh;
            width: 100%;
        
            &-img{
                display: block;
                width: 60px;
                height: auto;
                transition: all 1.5s ease-in-out;
            }

            &-para{
                text-align: justify;
                text-wrap: wrap;
                
                
            }
         
        }

        .card:hover .card-img{
            transform: rotateY(360deg);
        }


    }
    @media screen and (max-width: 700px){
        .services{
            padding: 1vh 1vw;
        }
.card{
    width: 70vw;
    align-self: center;
    &-img{
        width: 50px;
    }

}
.services-content{
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

}
}