<section class="services">
  <h2 class="services-title">Our Services</h2>
  <div class="services-content">

    <div class="card">
      <img src="/assets/home/services/coffee-togo.png" alt="" class="card-img">
      <h3 class="card-title"> THE COFFEE TO GO</h3>
      <p class="card-para">Energize on the move with our convenient brew-on-the-go.</p>
    </div>

    <div class="card">
      <img src="/assets/home/services/coffee-beans.png" alt="" class="card-img">
      <h3 class="card-title">SUPREME BEANS</h3>
      <p class="card-para">Indulge in the exquisite flavors of our premium coffee beans.</p>
    </div>

    <div class="card">
      <img src="/assets/home/services/coffee-cup.png" alt="" class="card-img">
      <h3 class="card-title">THE PERFECT CUP</h3>
      <p class="card-para">Immerse yourself in the pure bliss of perfection in a cup.</p>
    </div>

    <div class="card">
      <img src="/assets/home/services/coffee-machine.png" alt="" class="card-img">
      <h3 class="card-title">THE COFFEE MACHINE</h3>
      <p class="card-para">Unleash the power of innovation with our cutting-edge brewing technology.</p>
    </div>

  </div>
</section>