.blog {
    width: 100%;
    padding: 7vh 15vw;

    &-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 7vh;
        padding-right: 7vh;


        h2 {
            font-family: 'Asul', serif;
            font-size: calc(1rem + 2vw);
            color: black;
            padding: 7vh 2vw;
            text-transform: uppercase;
        }

        &_articles {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 4vh;
            row-gap:8vw;
            flex-wrap: wrap;


            
             
        }
    }
}
@media screen and (max-width: 700px){
.blog-container{
    padding-left: 1vh;
    padding-right: 1vh;
}

}