.newsletter {
    font-family: 'Asul', serif;
    color: white;
    background-color: #101311;
    border-top: 1px solid grey;
    min-height: fit-content;
    height: 60vh;
    padding: 4vh 4vw;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        padding: 2vh 4vw;

        .text {
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 2vw;

            h3 {



                text-decoration: none;
                font-weight: 800;
                font-size: calc(1rem + 0.6vw);
                text-transform: uppercase;
                text-align: center;
            }

            p {
                font-size: calc(0.3rem + 0.6vw);
                text-transform: uppercase;
                text-align: center;
            }

        }

        form {
            display: flex;
            flex-direction: column;
            gap: 2vw;
            align-items: center;
            justify-content: center;
        
        }

        input {
            width: 50vw;
            height: 2rem;
        }

        button {
            background: transparent;
            border: none;
            border: 1px solid white;
            color: white;
            font-family: 'Asul', serif;
            font-size: 1.6em;
            width: 40%;
            align-self: center;
            transition: all 1s ease-in-out;
            cursor: pointer;
        }

        button:hover {
            background-color: rgba(255, 255, 255, 0.202);
        }
    

    }
}