<section class="shop">
  <div class="shop-container">
    <h2>shop</h2>
    <p class="p-header">best items recomendet by our team</p>

    <div class="shop-container_products">
      
      <div *ngFor="let product of shop$ | async" class="card2">
      <div  class="card">
      
        <div class="card-img">
          <img src="{{product.img}}" alt="" class="img">
        </div>
        <div class="card-text">
          <h4>{{product.name}}</h4>
          <p>{{product.price | currency}}</p>
        </div>
        <div class="card-buttons">
          <button (click)="showDetails(product)" href="">details</button>
          <button (click)="buy(product)" class="buy" href="">buy</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>