.shop {
    width: 100%;
    padding: 6vh 6vw;
    background-color: #f2efe6;

    &-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 10vw;
        padding-right: 10vw;
        font-family: 'Asul', serif;


        h2 {

            font-size: calc(1rem + 2vw);
            color: black;
            padding: 2vh 2vw;
            text-transform: uppercase;
        }
        .p-header{
            font-size: 1.2rem;
            padding: 1vh 1vw;
        }

        &_products {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            column-gap: 4vh;
            row-gap: 8vw;
            flex-wrap: wrap;
            padding: 15vh;

            .card {
                height: 29rem;
                max-width: 29rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2vw;

                &-img .img {


                    height: 20rem;
                    width: 20rem;
                    object-fit: cover;
                }

                &-text {
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    gap: 1vh;

                    h4 {
                        text-transform: uppercase;
                        font-size: 1rem;
                        padding-top: 2vh;


                    }

                    p {
                        font-size: 0.9rem;
                    }

                }

                &-buttons {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    button {
                        text-decoration: none;
                        border: none;
                        width: 30%;
                        background-color: #be9c79;
                        font-size: 12px;
                        border-radius: 5px;
                        padding: 1rem;

                        color: white;
                     ;
                        align-self: center;
                        cursor: pointer;
                    }
                }
            }



        }
    }
}
@media screen and (max-width: 700px) {
    .shop-container{

    }
.shop-container_products{
    row-gap:30vw;
}
.card{

}
    }