<section class="admin">
  <div class="admin-nav">
    <h3>admin page <i class="fa-solid fa-user"></i> </h3>
    <ul class="nav-list">
      <li routerLink="menu" routerLinkActive="active">menu</li>
      <li routerLink="blog" routerLinkActive="active">blog</li>
      <li routerLink="shop" routerLinkActive="active">shop</li>
      <li routerLink="opinions" routerLinkActive="active">opinions</li>
    </ul>
    <button (click)="logOut()">log out</button>
  </div>
  <div class="admin-content">
    <router-outlet></router-outlet>
  </div>
</section>