<section class="menu">
  <div class="menu-content">
    <h2 class="menu-content_title">Menu</h2>
    <p class="menu-content_para">
      Delight in our diverse menu, crafted to satisfy all cravings. </p>

    <div class="menu-content_container container">

      <div *ngFor="let coffee of menu" class="card">
 
        <img src="{{coffee.img}}" alt="" class="menu__img">
    
        <div class="card-text">
          <div class="card-heading">
            <a class="header">{{coffee.title}}</a>
            <span></span>
            <a class="header">{{coffee.price | currency}}</a>
          </div>
       
          <p>{{coffee.label}}</p>
        </div>
        
      </div>
    </div>

  </div>
</section>