.home{
    display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];



  app-about-us{
    grid-column: container-start/container-end;
    min-height: 80vh;
    min-height: min-content;
    background-image: url("/assets/home/about-us/wave3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

   
  }
  app-showcase{
    grid-column: container-start/container-end;
    width: 100%;
  }

  app-services{
    grid-column: container-start/container-end;
    width: 100vw;
   min-height: 70vh;
    min-height: min-content;
  }

  app-menu{
    grid-column: container-start/container-end;
    width: 100%;
    height: min-content;
  }
  app-blog{
    grid-column: container-start/container-end;
    width: 100%;
min-height: min-content; 
    
  }
}