.rating {
    font-family: 'Asul', serif;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-content {
        background-color: #f2efe6;
        background-image: url('/assets/home/rating/background.svg');
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      

app-carousell{
width: 100%;
overflow: hidden;
}
    }

    &-form {
        color: white;
        background-color: #101311;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4vh 4vw;
        

        h3 {


            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
            font-size: calc(1rem + 1.5vw);
        }

        p {
            text-align: center;
            padding: 1vw;
        }

        form {
            width: 80%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-self: center;
            gap: 2vw;
            

            .opinion {
                height: 10rem;
                z-index: 100;
            }

            .opinion.placeholder {
                font-size: 300rem;
            }

            .name {
                height: 3rem;
            }

            button {
                background: transparent;
                border: none;
                border: 1px solid white;
                color: white;
                font-family: 'Asul', serif;
                font-size: 1.6em;
                width: 40%;
                align-self: center;
                transition: all 1s ease-in-out;
                cursor: pointer;
            }

            button:hover {
                background-color: rgba(255, 255, 255, 0.202);
            }
        }
    }

    .card {
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 33rem;

        margin: 0 1rem;
        padding: 1rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        border-radius: 0.5rem;

    }

    .star {
        font-size: 5vh;
        cursor: pointer;
    }

    .one {
        color: rgb(255, 0, 0);
    }

    .two {
        color: rgb(255, 106, 0);
    }

    .three {
        color: rgb(251, 255, 120);
    }

    .four {
        color: rgb(255, 255, 0);
    }

    .five {
        color: rgb(24, 159, 14);
    }
}

@media screen and (max-width: 700px) {
    .rating {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        height: 100VH;
    }

    .rating-content {
        border: black solid 2px;
    }
}